body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: pink;
  font-size: 20px;
}

header {
  background-image: url("fukushima.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

#logo {
  padding: 40px 0;
  text-align: center;
}

#logo img {
  max-width: 150px;
  border: 5px solid #fff;
  border-radius: 100%;
}

#logo h1 {
  letter-spacing: 0.15em;
  color: black;
  text-shadow: 1px 1px 0px #000;
}

nav ul li {
  margin: 0 20px;
  display: inline-block;
}/*余白をいれる+横並びにする*/


nav {
  text-align: center;
  background: red;
}

nav ul li a {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

nav ul li a.selected {
  color: #000;
}

.container {
  max-width: 800px;
  margin: -100px auto 0;
  background-color: #fff;
}

section {
  padding: 60px 20px;
}

section h2 {
  padding: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 0.15em;
}

footer {
  padding: 10px 0;
  font-size: 93%;
  text-align: center;
  background-color: red;
  color: black;
}
